version: "3.8"
services:
  db-fapi-blog:
    environment:
     - POSTGRES_USER=fapi_blog
     - POSTGRES_PASSWORD=fapi_pass
     - POSTGRES_DB=fapi_blog
    image: postgres:13
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - dev
    ports:
      - 5432:5432
  backend:
    build: 
      context: ../
      dockerfile: deployments/Dockerfile_backend_dev
      args: 
        ENVIRONMENT: development
    volumes:
      - $PWD:/opt/blog/backend
    depends_on:
      - db-fapi-blog
    environment:
      - ENVIRONMENT=development
      - SQLALCHEMY_DATABASE_URI=postgresql://fapi_blog:fapi_pass@db-fapi-blog:5432/fapi_blog
      # - OTELE_TRACE=True
    networks:
      - dev
    ports:
      - 8000:8000
    restart: always
  jaeger-server:
    image: jaegertracing/all-in-one
    networks:
      - dev
    ports:
      - 16686:16686
      - 6831:6831/udp

networks:
  dev:

volumes:
  db-data: