version: "3.8"
services:
  db-fapi-blog:
    environment:
     - POSTGRES_USER=fapi_blog
     - POSTGRES_PASSWORD=fapi_pass
     - POSTGRES_DB=fapi_blog
    image: postgres:13
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - dev
    ports:
      - 5432:5432
  backend:
    build:
      context: ../
      dockerfile: deployments/Dockerfile_backend_dev
      args:
        ENVIRONMENT: development
    volumes:
      - $PWD/backend:/opt/blog/backend
    depends_on:
      - db-fapi-blog
    environment:
      - ENVIRONMENT=development
      - OTELE_TRACE=True
      - SQLALCHEMY_DATABASE_URI=postgresql://fapi_blog:fapi_pass@db-fapi-blog:5432/fapi_blog
      - SECRET_KEY=c4af88af61391658010bd80e6fcb923f3fab38f53a4ece6d963a0c3c2d1e463b
      - ORIGINS=*
    networks:
      - dev
    ports:
      - 8000:8000
    restart: always
  frontend:
    build:
      context: ../
      dockerfile: deployments/Dockerfile_frontend_dev
      args:
        ENVIRONMENT: development
    volumes:
      - $PWD/frontend:/opt/blog/frontend
    depends_on:
      - backend
    environment:
      - ENVIRONMENT=development
      - OTELE_TRACE=False
    networks:
      - dev
    ports:
      - 3000:3000
    restart: always
  jaeger-server:
    image: jaegertracing/all-in-one
    environment:
      - JAEGER_DISABLED=true
    networks:
      - dev
    ports:
      - 16686:16686
      - 6831:6831/udp

networks:
  dev:

volumes:
  db-data:
