on: [push]

jobs:
  checking_code:
    runs-on: ubuntu-latest
    name: Horusec Scan
    steps:
      - name: Run Horusec
        id: run_horusec
        uses: fike/horusec-action@v0.1-alpha
        with:
          arguments: -p="./" --ignore="**/htmlcov/**, **/deployments/**, **/.git/**, **/**.pyre, **/.venv/**, **/.vscode/**, **/*.env, **/.mypy_cache/**, **/tests/**"
        

